# Variable para acceder a POSTGRESS (SUPABASE)
DB_HOST=aws-1-us-west-1.pooler.supabase.com
DB_DATABASE=postgres
DB_USER=postgres.evovbsxgvzljkbcheipp
DB_PASSWORD=DB_PASSWORD
DB_PORT=6543

# SUPABASE
SUPABASE_URL=https://evovbsxgvzljkbcheipp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY
JWT_SECRET=sheligo_super_secret_key