# Variable para acceder a POSTGRESS (SUPABASE)
DB_HOST=db.evovbsxgvzljkbcheipp.supabase.co
DB_DATABASE=postgres
DB_USER=postgres
DB_PASSWORD=DB_PASSWORD
DB_PORT=5432

# Variable de PORT DE EXPRESS
PORT=3000

# SUPABASE
SUPABASE_URL=https://evovbsxgvzljkbcheipp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=key